<% content_for :head do %>
  <%= stylesheet_link_tag "horses_race" %>
<% end %>
<h1>Horses race</h1>
<h2 id="announcement"></h2>
<div class="horses-race">
  <h1 id="horseSelection">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
  </h1>
  <div class="start"></div>
  <div class="track">
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
  </div>
</div>
<div id="bet" class="hidden">
  <input type="number" id="amountInput" step="10" value="10" min="10" max="<%= current_user.wallet.coins %>">
  <button class="btn" id="btnBet">Bet!</button>
</div>
<table class="bets" border="1">
  <thead>
    <tr>
      <th>Player</th>
      <th>Horse</th>
      <th>Bet</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody id="betsTable">
  </tbody>
</table>
<%= javascript_import_module_tag "horses_race_channel" %>
