<% content_for :head do %>
  <%= stylesheet_link_tag "horses_race" %>
<% end %>
<h1>Horses race</h1>
<h3 id="announcement"></h3>
<div class="horses-race">
  <div class="start"></div>
  <div class="track">
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
    <%= image_tag "horse.png", class: "horse" %>
  </div>
</div>
<%# <input type="text" id="txt">
<button id="btn">Enviar</button>
<p id="messages"></p> %>
<div class="info">
  <div class="bet">
    <p>Choose one horse: </p>
    <div id="horseSelection">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
    </div>
    <div>
      <p>Amount: </p>
      <input type="number" id="amountInput" step="10" value="10" min="10" max="<%= current_user.wallet.coins %>">
    </div>
    <button class="btn w100" id="btnBet">Bet!</button>
  </div>
  <table class="bets" border="1">
    <caption>Bets</caption>
    <thead>
      <tr>
        <th>Player</th>
        <th>Horse</th>
        <th>Bet</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody id="betsTable">
    </tbody>
  </table>
</div>
<%= javascript_import_module_tag "horses_race_channel" %>
