<% content_for :head do %>
  <%= stylesheet_link_tag "slot_machine" %>
<% end %>

<h1>Slot Machine</h1>

<div class="slot_machine">
  <div class="barra">
    <div><%= image_tag "slot_machine/javascript.png" %></div>
    <div><%= image_tag "slot_machine/cpp.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/ruby.png" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/java.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/bc.jpg" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/javascript.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/cpp.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/java.png" %></div>
    <div><%= image_tag "slot_machine/python.png" %></div>
    <div><%= image_tag "slot_machine/python.png" %></div>
    <div><%= image_tag "slot_machine/ruby.png" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/javascript.png" %></div>
  </div>
  <div class="barra">
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/python.png" %></div>
    <div><%= image_tag "slot_machine/python.png" %></div>
    <div><%= image_tag "slot_machine/bc.jpg" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/java.png" %></div>
    <div><%= image_tag "slot_machine/javascript.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/cpp.png" %></div>
    <div><%= image_tag "slot_machine/cpp.png" %></div>
    <div><%= image_tag "slot_machine/ruby.png" %></div>
    <div><%= image_tag "slot_machine/java.png" %></div>
    <div><%= image_tag "slot_machine/ruby.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/javascript.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
  </div>
  <div class="barra">
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/javascript.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/bc.jpg" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/java.png" %></div>
    <div><%= image_tag "slot_machine/ruby.png" %></div>
    <div><%= image_tag "slot_machine/cpp.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
    <div><%= image_tag "slot_machine/python.png" %></div>
    <div><%= image_tag "slot_machine/java.png" %></div>
    <div><%= image_tag "slot_machine/php.png" %></div>
    <div><%= image_tag "slot_machine/python.png" %></div>
    <div><%= image_tag "slot_machine/cpp.png" %></div>
    <div><%= image_tag "slot_machine/html.png" %></div>
    <div><%= image_tag "slot_machine/ruby.png" %></div>
    <div><%= image_tag "slot_machine/javascript.png" %></div>
    <div><%= image_tag "slot_machine/css.png" %></div>
  </div>
</div>
<div class="center">
  <button id="btn" class="btn">Spin for $5</button>
  
  <h2>
  Prize:
    <span id="result"></span>
  </h2>
</div>
  
  <table>
  <tr>
    <td>
      <%= image_tag "slot_machine/php.png" %>
      <%= image_tag "slot_machine/php.png" %>
    </td>
    <td>$10</td>

    <td>
      <%= image_tag "slot_machine/php.png" %>
      <%= image_tag "slot_machine/php.png" %>
      <%= image_tag "slot_machine/php.png" %>
    </td>
    <td>$100</td>
  </tr>

  <tr>
    <td>
      <%= image_tag "slot_machine/html.png" %>
      <%= image_tag "slot_machine/html.png" %>
    </td>
    <td>$10</td>

    <td>
      <%= image_tag "slot_machine/html.png" %>
      <%= image_tag "slot_machine/html.png" %>
      <%= image_tag "slot_machine/html.png" %>
    </td>
    <td>$100</td>
  </tr>

  <tr>
    <td>
      <%= image_tag "slot_machine/css.png" %>
      <%= image_tag "slot_machine/css.png" %>
    </td>
    <td>$10</td>

    <td>
      <%= image_tag "slot_machine/css.png" %>
      <%= image_tag "slot_machine/css.png" %>
      <%= image_tag "slot_machine/css.png" %>
    </td>
    <td>$100</td>
  </tr>

  <tr>
    <td>
      <%= image_tag "slot_machine/python.png" %>
      <%= image_tag "slot_machine/python.png" %>
    </td>
    <td>$30</td>

    <td>
      <%= image_tag "slot_machine/python.png" %>
      <%= image_tag "slot_machine/python.png" %>
      <%= image_tag "slot_machine/python.png" %>
    </td>
    <td>$300</td>
  </tr>

  <tr>
    <td>
      <%= image_tag "slot_machine/ruby.png" %>
      <%= image_tag "slot_machine/ruby.png" %>
    </td>
    <td>$30</td>
   
    <td>
      <%= image_tag "slot_machine/ruby.png" %>
      <%= image_tag "slot_machine/ruby.png" %>
      <%= image_tag "slot_machine/ruby.png" %>
    </td>
    <td>$300</td>
  </tr>
  
  <tr>
    <td>
      <%= image_tag "slot_machine/javascript.png" %>
      <%= image_tag "slot_machine/javascript.png" %>
    </td>
    <td>$30</td>

    <td>
      <%= image_tag "slot_machine/javascript.png" %>
      <%= image_tag "slot_machine/javascript.png" %>
      <%= image_tag "slot_machine/javascript.png" %>
    </td>
    <td>$300</td>
  </tr>
  
  <tr>
    <td>
      <%= image_tag "slot_machine/java.png" %>
      <%= image_tag "slot_machine/java.png" %>
    </td>
    <td>$30</td>

    <td>
      <%= image_tag "slot_machine/java.png" %>
      <%= image_tag "slot_machine/java.png" %>
      <%= image_tag "slot_machine/java.png" %>
    </td>
    <td>$300</td>
  </tr>
  
  <tr>
    <td>
      <%= image_tag "slot_machine/cpp.png" %>
      <%= image_tag "slot_machine/cpp.png" %>
    </td>
    <td>$30</td>

    <td>
      <%= image_tag "slot_machine/cpp.png" %>
      <%= image_tag "slot_machine/cpp.png" %>
      <%= image_tag "slot_machine/cpp.png" %>
    </td>
    <td>$300</td>
  </tr>
  
  <tr>
    <td>
      <%= image_tag "slot_machine/bc.jpg" %>
      <%= image_tag "slot_machine/bc.jpg" %>
    </td>
    <td>$50</td>

    <td>
      <%= image_tag "slot_machine/bc.jpg" %>
      <%= image_tag "slot_machine/bc.jpg" %>
      <%= image_tag "slot_machine/bc.jpg" %>
    </td>
    <td>$3000</td>
  </tr>
</table>
<%= audio_tag "slotmachine.wav", id: "slotmachine" %>
<script>
  let barras = [...document.querySelectorAll(".barra")];

  slotmachine.volume = 0.2;
  btn.onclick = () => {
    btn.disabled = true;
    TxtCoins.innerText = (TxtCoins.innerText-5).toFixed(1);
    fetch("/spin").then(res => res.json()).then(data => {
      girar(data.rands, data.prize, data.coins);
    }).catch(err => console.log("vete a tomar por saco no tienes coins"))
  }

  function girar(rands, prize, coins) {
    let promises = [];
    slotmachine.currentTime = 0;
    slotmachine.play();
    barras.forEach((barra, i) => {
      promises.push(new Promise((ok) => (barra.onanimationend = ok)));
      barra.classList.remove("girarclass");
      barra.offsetWidth;
      barra.classList.add("girarclass");
      barra.style.animationIterationCount = 1 + rands[i] / 20;
    });

    result.className = "";
    result.textContent = "";
    Promise.all(promises).then(() => {
      updateCoins(coins);
      result.className = "animate__animated animate__bounceIn";
      result.textContent =`${prize} coins`;
      if(prize == 0) result.textContent = "Nothing"
      btn.disabled = false;
    });
  }
</script>
