<% content_for :head do %>
  <%= stylesheet_link_tag "space_ship" %>
<% end %>
<h1>Space ship</h1>
<h2 id="announcement"></h2>
<div class="space">
  <h1 id="payElem"></h1>
  <%= image_tag 'ship3.gif', id: "ship", class: "hidden" %>
  <%= image_tag 'explosion.gif', id: "explosion", class:"hidden" %>
  <div id="bet" class="hidden">
    <input type="number" id="amountInput" step="10" value="10" min="10" max="<%= current_user.wallet.coins %>">
    <button class="btn" id="btnBet">Bet!</button>
  </div>
  <button class="btn btn-blue hidden" id="btnLeft">Leave ship!</button>
</div>
<table class="bets" border="1">
  <thead>
    <tr>
      <th>Player</th>
      <th>Bet</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody id="betsTable">
  </tbody>
</table>
<%= javascript_import_module_tag "space_ship_channel" %>
