<h1 class="balance">
  <%= image_tag "coin2.gif" %>
  <p>
    <%= current_user.wallet.coins %>
  </p>
</h1>
<% if Date.today != current_user.last_day.to_date %>
  <a href="/getreward">
    <button class="btn reward">
      Get your daily reward!
      <%= image_tag "coin2.gif" %>
    </button>
  </a>
<% end %>
<h2 class="center">Play now! <%= current_user.name %></h2>
<div class="minigames">
  <a href="/slotmachine">
    <div>
      <%= image_tag "slotmachine.png" %>
      <p>Slot Machine</p>
    </div>
  </a>
  <a href="/horsesrace">
    <div>
      <%= image_tag "horsesrace.png" %>
      <p>Horses Race</p>
    </div>
  </a>
  <a href="/mines">
    <div>
      <%= image_tag "mines.png" %>
      <p>Mines</p>
    </div>
  </a>
  <a href="/spaceship">
    <div>
      <%= image_tag "spaceship.png" %>
      <p>Space Ship</p>
    </div>
  </a>
</div>
<%# number_to_currency %>
